body{
  font-family: sans-serif;
  background-image: url("./rick&morty.jpg");
  background-repeat: no-repeat;
  color: #c7f6f7;
  text-align: center;
}

h1{
  text-align: center;
  font-size: 50px;
}

a{
  color: #c7f6f7
}
